header {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    width: 1440px;
    height: 78px;
}
nav {
    margin-left: 170px;
    display: flex;
    align-items: center;
    gap: 30px;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #1e293b;
    background-color: white;
}

main {
    text-align: center;
}
footer {
    background-color: #BBF7D0;
    color: #16A34A;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

#title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #16A34A;
    margin-left: 60px;
    align-items: center;
    margin-bottom: 0px;
}

#hero-container {
    margin: 0 auto;
    padding-bottom: 110px;
    padding-top: 90px;
}

#find-game-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #16A34A;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 25px;

}

#card-text {
    font-size: 24px;
    margin-top: 10px;
    color:#16A34A;
    margin-bottom: 0px;
    padding:0px;
}
#map-section {
    text-align: center;
    background-color: #BBF7D0;
}

.card-container {
    padding-top: 20px;
    margin:0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    width: 380px;
    height: 300px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
    border-color: #16a34a;
    
}

.hero-title {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero-subtitle {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.section-title {
    color: #16a34a;
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
}




p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

a {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin-left: 30px;
}
a:visited {
    color: black;
}

a:hover {
    color: #16a34a;
}

a:active {
    color: purple;
}

div {
    width: "width=device-width, initial-scale=1.0";
    background-color: green;
}

iframe {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
