/* ================= GLOBAL ================= */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
}

a {
    font-family: "Poppins", sans-serif;
    color: #1e293b;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
a:hover { color: #16a34a; }
a:visited { color: #1e293b; }
a:active { color: purple; }

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
}

/* ================= HEADER ================= */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    height: 78px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 150px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    color: #16a34a;
}

nav {
    display: flex;
    align-items: center;
    gap: 60px;
}
nav a {
    font-size: 18px;
    font-weight: 500;
}


#sing-up-btn {
    color: #3b82f6;
    background-color: transparent;
    border: 2px solid #3b82f6;
}
#sing-up-btn:hover {
    color: white;
    background-color: #3b82f6;
}
#join-now-btn {
    color: white;
    background-color: #16a34a;
}
#join-now-btn:hover {
    background-color: #15803d;
}

/* ================= HERO SECTION ================= */
#hero-container {
    background-color: #16A34A;
    padding: 90px 0 110px;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin: 20px 0;
}

.hero-subtitle {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}

#find-game-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #16a34a;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 25px;
}
#find-game-btn:hover {
    background-color: #f1f5f9;
}

/* ================= HOW IT WORKS ================= */
.section-title {
    color: #16a34a;
    font-size: 36px;
    margin: 50px 0;
    font-weight: bold;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 0px;
    margin-bottom: 100px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 380px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    border-color: #16a34a;
}

#card-text {
    font-size: 24px;
    margin: 10px 0 0;
    color: #16a34a;
}

/* ================= MAP SECTION ================= */
#map-section {
    background-color: #bbf7d0;
    text-align: center;
    padding-top: 10px;
    height: 700px;
}

iframe {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

/* ================= READY SECTION ================= */
#ready-to-start-section {
    text-align: center;
    height: 250px;
}

#ready-title {
    margin: 50px 0 30px;
}

.section-subtitle {
    color: #16a34a;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
}

.btn-spacer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#create-account-btn {
    color: white;
    background-color: #3b82f6;
}
#create-account-btn:hover {
    background-color: #2d64bd;
}

#explore-lobbies-btn {
    color: #16a34a;
    background-color: white;
    border-color: #16a34a;
}
#explore-lobbies-btn:hover {
    color: white;
    background-color: #16a34a;
}

/* ================= FOOTER ================= */
footer {
    background-color: #bbf7d0;
    color: #16a34a;
    padding: 40px 0 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: #1e293b;
}

#footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #16a34a;
    text-align: left;
    margin-bottom: 0;
}

#footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 0px;
    gap: 10px;
    padding-bottom: 30px;
}

#footer-nav a {
    font-size: 16px;
}

#follow-us {
    font-weight: bold;
    font-size: 20px;
    color: #16a34a;
    margin-bottom: 10px;
}

#footer-right img {
    width: 30px;
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 0 0 10px 0;
}

#rights {
    padding-top: 20px;
    text-align: center;
    color: #1e293b;
    font-size: 14px;
}
