html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

a {
    color: #1e293b;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover { color: #16a34a; } 



.btn {
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 8px 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

/* ================= HEADER ================= */
header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    gap: 20px;
    flex-wrap: wrap;
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
}


#title {
    font-size: 24px;
    font-weight: bold;
    color: #16a34a;
}

nav#header-nav {
    display: flex;
    gap:50px;
}
nav#header-nav a {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
nav#hamburger-header-nav {
    display: none;
    gap: 50px;
    justify-content: center;
}

.hamburger {
    display: none;
}


#sign-up-btn {
    color: #3b82f6;
    background-color: transparent;
    border: 2px solid #3b82f6;
}
#sign-up-btn:hover {
    color: white;
    background-color: #3b82f6;
}
#join-now-btn {
    color: white;
    background-color: #16a34a;
}
#join-now-btn:hover {
    background-color: #15803d;
}

/* ================= HERO SECTION ================= */
#hero-container {
    background-color: #16A34A;
    padding: 90px 0 110px;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin: 20px 0;
}

.hero-subtitle {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}

#find-game-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #16a34a;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 25px;
}
#find-game-btn:hover {
    background-color: #f1f5f9;
}

/* ================= HOW IT WORKS ================= */
.section-title {
    color: #16a34a;
    font-size: 36px;
    margin: 50px 0;
    font-weight: bold;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 0px;
    margin-bottom: 100px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: auto;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    border-color: #16a34a;
}
#card-text {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0;
    color: #16a34a;
}
.card:hover #card-text {
    transform: translateY(-2px);
}

/* ================= MAP SECTION ================= */
#map-section {
    background-color: #bbf7d0;
    text-align: center;
    padding-top: 10px;
    height: 800px;
}

#map-section iframe {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    border: 0;
    border-radius: 10px;
    height: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#map-section iframe:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* ================= READY SECTION ================= */
#ready-to-start-section {
    text-align: center;
    padding: 20px 0;
}

#ready-title {
    margin: 30px 0 30px;
}

.section-subtitle {
    color: #16a34a;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
}

.btn-spacer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#create-account-btn {
    color: white;
    background-color: #3b82f6;
    margin-bottom: 30px;
}
#create-account-btn:hover {
    background-color: #2d64bd;
}

#explore-lobbies-btn {
    color: #16a34a;
    background-color: white;
    border-color: #16a34a;
    margin-bottom: 30px;
}
#explore-lobbies-btn:hover {
    color: white;
    background-color: #16a34a;
}

/* ================= FOOTER ================= */
footer {
    background-color: #bbf7d0;
    color: #16a34a;
    padding: 40px 0 20px;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: #1e293b;
}

#footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #16a34a;
    text-align: left;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

li {
    margin-bottom: 10px;
    list-style-type: none;
    
}
li a {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


#footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 0px;
    gap: 10px;
    padding-bottom: 30px;
}

#footer-nav a {
    font-size: 16px;
    font-weight: 500;
}

#follow-us {
    font-weight: bold;
    font-size: 20px;
    color: #16a34a;
    margin-bottom: 10px;
}

#footer-right img {
    width: 30px;
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 0 0 10px 0;
}

#rights {
    padding-top: 20px;
    text-align: center;
    color: #1e293b;
    font-size: 14px;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
    .header-container {
        justify-content: space-between;
    }
    nav#header-nav {
        display: none;
    }
    #map-section {
        height: 680px;
    }

    #header-right {
        display: flex;
        flex-direction:row;
        align-items: center;
        gap: 30px;
    }

    nav#hamburger-header-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 1px solid #ddd;
        z-index: 1000;
        padding: 0px 0;
    }

    nav#hamburger-header-nav.nav-open {
        display: flex;
        gap:0px;
    }

    nav#hamburger-header-nav a {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #eee;
    }




    .hamburger {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        width: 34px;
    }
    .hamburger .bar {
        width: 28px;
        height: 3px;
        background-color: #16a34a;
        margin: 4px 0;
        border-radius: 2px;
        transition: all 0.3s ease;
    }


    #hamburger-header-nav a {
        font-size: 20px;
        color: black;
        font-weight: 100;
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }



    


    header .btn {
        font-size: 14px;
        padding: 8px 16px;

    }

    #hero-container h1 {
        font-size: 55px;
    }
    #hero-container h2 {
        font-size: 20px;
    }
    #how-it-works .section-title {
        font-size: 42px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .card-container .card {
        width: 90%;
        height: 350px;
    }
    .card img {
        width: 100px;
        height: 100px;
    }
    .card #card-text {
        font-size: 32px;
    }
    .card p {
        font-size: 20px;
    }
    #map-section iframe {
        width: 80%;
        height: 450px;
    }

    #ready-to-start-section .section-subtitle{
        font-size: 20px;
    }
    #ready-to-start-section #ready-title {
        font-size: 32px;
        margin: 30px 0 20px;
    }
    #ready-to-start-section{
        height: auto;
    }

    footer .container{
        width: 80%;
    }
}
@media (max-width: 425px) {
    #sign-up-btn {
        display:none;
    }
    #join-now-btn {
        display: none;
    }
    #hero-container h1 {
        font-size: 36px;
    }
    #hero-container h2 {
        font-size: 18px;
        padding: 0 15px;
    }
    #how-it-works .section-title {
        font-size: 32px;
    }
    .card-container .card {
        width: 90%;
        height: auto;
    }
    .card img {
        width: 80px;
        height: 80px;
    }
    .card #card-text {
        font-size: 24px;
    }
    .card p {
        font-size: 16px;
    }
    #map-section {
        height: auto;
        padding-bottom: 50px;
    }
    #map-section .section-title {
        margin: 20px 0 30px;
        padding-bottom: 0px;
        font-size: 28px;
    }
    #map-section iframe {
        height: 350px;
    }

    .btn{
        width: 150px;
        height: 40px;;
    }
    #create-account-btn, #explore-lobbies-btn{
        font-size: 14px;
        padding: 5px 5px;
    }

    li a{
        font-size: 16px;
    }
    #footer-content{
        display: flex;
        flex-direction: column;
    }
    #footer-right{
        margin-bottom: 20px;
    }
}

@media (max-width: 375px){
    .btn{
        width: 150px;
        height: 40px;;
    }
    #create-account-btn, #explore-lobbies-btn{
        font-size: 14px;
        padding: 5px 5px;
    }
    #map-section .section-title{
        padding: 0 30px;
    }
    #how-it-works .section-title{
        font-size: 28px;
    }
    #ready-to-start-section #ready-title{
        font-size: 28px;
    }
    h3 {
        padding: 0px 10px;
    }
}
@media(max-width:320px){
    .card-container{
        margin-bottom: 50px;
    }
    .btn{
        width: 125px;
        height: 40px;;
    }
    .btn-spacer{
        gap:7px;
    }
    #create-account-btn, #explore-lobbies-btn{
        font-size: 12px;
        padding: 5px 5px;
    }
    #ready-to-start-section #ready-title {
        margin: 20px 10px 10px 10px;
    }
    #ready-to-start-section .section-subtitle{
        margin-bottom: 20px;
        font-size: 18px;
    }

}